[submodule "src/tor/tor-src"]
	path = src/tor/tor-src
	url = https://gitlab.torproject.org/tpo/core/tor.git
[submodule "src/secp256k1"]
	path = src/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
